[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
masonite-cli = "*"
py-gfm = "*"
pylint = "*"
autopep8 = "*"
masonite = "<2.3,>=2.2"
Django = "*"
uWSGI = "*"
Pygments = "*"
Markdown = {git = "https://github.com/Python-Markdown/markdown.git",ref = "2.6"}

[requires]
python_version = "3.6"
